langchain
langchain-core
langchain-openai
langchain-experimental
langchain-community
langchain-text-splitters
openai
python-dotenv
pydantic
SQLAlchemy
wikipedia
streamlit
langchain-classic
pinecone
langchain-pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
langchain-text-splitters
faiss-cpu
pypdf
python-docx
python-pptx
pandas
openpyxl
pytesseract
pillow